body{
    background-color:#f2f2f2;
    font-family:Arial, sans-serif;
}
.container{
    width:60%;
    margin:auto;
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px gray;
}
h1{
    color:darkblue;
    text-align:center;
}
h2{
    color:rgb(55, 95, 55);
}
p{
    font-size:18px;
}
ul{
    font-size:18px;
}